body {
  font-family: Arial, sans-serif;
  background-image: url('https://i.postimg.cc/vBbB8VHc/pngtree-halloween-backdrop-with-pumpkins-and-bats-picture-image-3167332.png');
  background-size: cover;       
  background-repeat: no-repeat; 
  background-position: center; 
  color: #fff;                  
  text-align: center;
  margin: 0;
  padding: 0;
}
}
}
}

header h1 {
  color: #ff6f61;

}



