body {
  font-family: Arial, sans-serif;
  background-image: url('https://i.postimg.cc/KYnSYpR5/OIP.webp');
  background-size: cover;       
  background-repeat: no-repeat;
  background-position: center;  
  color: #fff;                  
  text-align: center;
  margin: 0;
  padding: 0;
}
}
}

header h1 {
  color: #ff6f61;

}

